body {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    background-color: bisque;
}

.header ul {
    list-style-type: none;
}

.header a {
    display: inline-flex;
    color: #333;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    padding: 0 40px;
    text-decoration: none;
    text-transform: uppercase;
}

.jumbotron {
    display: flex;
    justify-content: center;
    background: url(https://images.matprat.no/kd5b3y52qa-jumbotron/large) no-repeat center center;
    background-size: cover;
    height: 800px;
}

.jumbotron h1 {
    color: bisque;
    font-family: 'Courgette', cursive;
    font-size: 150px;
    margin-top: 150px;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.section h1 {
    margin-left: 1%;
}

h1, h2, p, a, li {
    font-family: "Raleway", sans-serif;
    color: #333;
}

.recipes {
    display: flex;
}

.recipe {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 1%;
}

.recipe img {
    width: 100%;

}

.center {
    display: flex;
    justify-content: center;
}

.showRecipe {
    display: flex;
    background: #EEE;
    height: 40px;
    width: 120px;
    align-items: center;
    padding: 0 15px;
}

.ingredients, .howto {
    display: none;
    flex-direction: column;
    width: 100%;
    margin: 0 1%;
}

.ingredientsText {
    margin-left: 15%;
}

.ingredients {
    width: 50%;
}

.howto {
    width: 150%;
}

.ingredients ul {
    margin-left: 15%;
    padding: 0;
    list-style-type: none;
}

.funfacts {
    display: flex;
    align-items: center;
    padding-bottom: 300px;
}

.funfacts img {
    height: 50px;
    width: 30px;
}


.funfacts h1 {
    text-align: center;
    color: bisque;
    font-family: 'Courgette', cursive;
    font-size: 60px;
    margin: 0 5%;
}